@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="" method="GET">
    <input type="text"Ingrese su nombre.>
    <input type="DateTime" Ingrese su Fecha de Nacimiento>
    <input type="radio" Frio o Caliente> 
    <input type="number" Ingrese su presupuesto en pesos. min = "1" >
    <input type="number" Ingrese la cantidad de personas que comeran. min="1" max="20"  > 
    
    </form>